.gallery{
    max-width: 1140px;

  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-left: -1 * 20px;
  margin-top: -1 * 20px;
  list-style: none;
  padding: 0 20px;
  margin-bottom: 40px;
}

.photo-card{
  flex-basis:  calc((100% - 20px) );

  @media screen and (min-width: 480px){ 
    flex-basis:  calc((100% - 2 * 20px) / 2);}

  @media screen and (min-width: 768px){ 
    flex-basis:  calc((100% - 3 * 20px) / 3);}

  @media screen and (min-width: 1200px){ 
  flex-basis:  calc((100% - 4 * 20px) / 4);}
 
  
  padding: 0;
  margin-left: 20px;
  margin-top: 20px;
}

.gallery__image{
  // height: 100%;
  width: 100%;
  // object-fit: cover;
  flex-grow: 2;

}

  .gallery__link {
    display: block;
    text-decoration: none;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  ////


.info{
    display: flex;
    margin-top: 10px;
    padding: 0;
    color: #000000;
    text-align: center;
    font-size: 8px;
}

.info-item{
    display: flex;
    flex-direction: column;
    flex-basis: 24%;
}

// .card__img{
//     display: block;
//     width: 100%;
//     height: auto;
// }
